#app {
  display: flex;
  justify-content: center;
  margin: auto;

  #boards {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .board {
      display: grid;
      /* Creates 10 columns and 10 rows, each 1 fraction of space */
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 2px; /* Optional spacing between cells */
      width: 500px; /* Adjust as needed */
      height: 500px;
      background-color: #333;

      .cell {
        border: 1px solid #cccccc69;
      }
    }
  }
}
