#app {
  display: flex;
  align-items: center;
  height: 100dvh;

  main {
    margin: auto;

    #boards {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .board {
        display: grid;
        /* Creates 10 columns and 10 rows, each 1 fraction of space */
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 2px; /* Optional spacing between cells */
        width: 500px; /* Adjust as needed */
        height: 500px;
        background-color: #333;

        .cell {
          border: 1px solid #cccccc69;
          border-radius: 2px;
          &[data-occupied="true"] {
            background-color: #2e86ab99;
            border: 2px solid #cccccc22;
          }
        }
      }
    }
    .btnContainer {
      margin-top: 0.5rem;
      .btn {
        width: 5rem;
        text-wrap: nowrap;
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
